# FreeFEM-related
ff++-compiled
freefem.tar.gz

# Build and packaging
build/
*.egg-info/
dist/

# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/

# Editor/IDE
.vscode/
*.swp
*~

# Outputs
data/*.csv
data/*.png
data/*.gif
data/data_llg/*.csv

# Generated FreeFEM scripts (from templates)
edp/heat_disk.edp
edp/catalogue/advection_diffusion.edp
edp/catalogue/heat_diffusion.edp
edp/catalogue/heat.edp
edp/catalogue/steady_heat.edp
edp/catalogue/stokes.edp
edp/catalogue/elasticity.edp
edp/catalogue/eigenvalue.edp

# Pytest cache
.pytest_cache/
